.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  .leaderboard-table {
    background-color: transparent !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 20px;
    width: 80%;
    max-width: 1000px;
  }
  
  .leaderboard-table .MuiTable-root {
    background-color: transparent;
  }
  
  .leaderboard-table .MuiTableCell-root {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(224, 224, 224, 0.1);
  }
  
  .leaderboard-table .MuiTableCell-head {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .leaderboard-table .MuiTableRow-root:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .leaderboard-title {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-image {
    margin-right: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .accuracy, .dances {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .loading-container, .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
  }