.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* HEADER */
.navbar {
  position: sticky; /* Stick to the top */
  top: 0;          /* Position at the top */
  z-index: 1030;   /* Ensure it stays above other content */
  transition: background-color 0.3s ease; /* Smooth transition for background */
}

.header-nav {
  position: relative;
  color: black;
  text-decoration: none;
}

.header-nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0;
  height: 2px; 
  background-color: black;
  transition: width 0.6s ease;
}

.header-nav:hover::after {
  width: 100%;
}


/* FOOTER CSS */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; 
}
footer{
  height: 40px;
}